<html>
  <%= form_tag resolver_path, :method => 'post' do %>
  <body>
    <table>
      <tr>
        <td>
          Digite a data que deseja:
        </td>
        <td>
          <%= datetime_field_tag :date, :params['date'] %>
        </td>
     </tr>
     <tr>
       <td>
         Digite qual operação deseja:
       </td>
       <td>
        <%= text_field_tag :op, :params['op'] %>
       </td>
     </tr>
     <tr>
      <td>
        Digite quantos minutos deseja adiantar:
      </td>
      <td>
        <%= number_field_tag :value, :params['value'] %>
      </td>
     </tr>
     <tr>
       <td>
         <%= submit_tag "Calcular", :name => nil %>
       </td>
     </tr>
    </table>
  </body>
<% end -%>
</html>
